<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/nav', { tipos: tipos }) %>
    <main>
      <h2>Pokémon de tipo <%= tipo %></h2>
      <section>
        <div class="cards-grid">
          <% pokemon.forEach(function(poke){ %>
          <div class="card">
            <a href="/pokemon/<%= poke.id %>">
              <img src="<%= poke.imagen %>" alt="<%= poke.nombre %>" />
            </a>
            <div>
              <p><%= poke.numero %></p>
              <h2><%= poke.nombre %></h2>
            </div>
          </div>
          <% }); %>
        </div>
      </section>
    </main>
  </body>
  <%- include('partials/footer') %>
</html>
